{% extends 'base.html' %}

{% block content %}
<div class="about-container">
    <h1 class="about-title">Про Oderman</h1>
    <p class="about-description">
        <strong>Oderman</strong> — це провідний постачальник рішень для управління замовленнями, який допомагає піцеріям і ресторанам автоматизувати процес прийому та обробки замовлень. Ми прагнемо зробити процес замовлення простішим і зручнішим як для гостей, так і для адміністрації закладу.
    </p>
    
    <div class="about-features">
        <h2>Що ми пропонуємо?</h2>
        <ul>
            <li>Пока нічого</li>
        </ul>
    </div>

    <div class="about-goals">
        <h2>Наша мета</h2>
        <p>
            В нас мети немає
            
        </p>
    </div>
</div>

<style>
    .about-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
        color: #333;
    }
    .about-title {
        font-size: 36px;
        color: #ff6347;
        text-align: center;
        margin-bottom: 20px;
    }
    .about-description {
        font-size: 18px;
        line-height: 1.6;
        text-align: justify;
        margin-bottom: 40px;
    }
    .about-features, .about-goals {
        margin-bottom: 30px;
    }
    .about-features h2, .about-goals h2 {
        font-size: 28px;
        color: #333;
        margin-bottom: 10px;
    }
    ul {
        padding-left: 20px;
    }
    ul li {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .about-goals p {
        font-size: 18px;
        line-height: 1.6;
    }
</style>
{% endblock %}
