<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагувати Публікацію</title>
</head>
<body>
    <h1>Редагувати Публікацію</h1>

    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form action="{{ url_for('edit_post', id=post.id) }}" method="POST">
        <label for="title">Заголовок:</label><br>
        <input type="text" id="title" name="title" value="{{ post.title }}"><br><br>

        <label for="content">Текст:</label><br>
        <textarea id="content" name="content" rows="5" cols="40">{{ post.content }}</textarea><br><br>

        <input type="submit" value="Оновити">
    </form>

    <br>
    <a href="{{ url_for('index') }}">Назад до публікацій</a>
</body>
</html>


